.curved-loop-jacket {
  height: 100px;
  /* visible height */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.curved-loop-svg {
  width: 100%;
  height: 100%;
  overflow: visible;
  font-size: 2rem;
  /* adjust to fit under heading */
  fill: white;
  /* make sure text is visible */
  font-weight: 700;
  text-transform: uppercase;
}
